default: &default
  adapter: postgresql
  encoding: unicode
  pool: <%= ENV['RAILS_MAX_THREADS'] || Rails.application.credentials[:rails_max_threads] || 5 %>

development:
  <<: *default
  database: challenging_rails_development
  host: <%= ENV['POSTGRES_HOST_DEVELOPMENT'] || 'localhost' %>
  port: <%= ENV['POSTGRES_PORT_DEVELOPMENT'] || 5432 %>
  username: <%= ENV['POSTGRES_USERNAME_DEVELOPMENT'] || 'root' %>
  password: <%= ENV['POSTGRES_PASSWORD_DEVELOPMENT'] || 'postgres' %>

test:
  <<: *default
  database: challenging_rails_test
  host: <%= ENV['POSTGRES_HOST_TEST'] || 'localhost' %>
  port: <%= ENV['POSTGRES_PORT_TEST'] || 5432 %>
  username: <%= ENV['POSTGRES_USERNAME_TEST'] || 'root' %>
  password: <%= ENV['POSTGRES_PASSWORD_TEST'] || 'postgres' %>

production:
  <<: *default
  database: challenging_rails_production
  host: <%= ENV['POSTGRES_HOST_PRODUCTION'] || 'localhost' %>
  port: <%= ENV['POSTGRES_PORT_PRODUCTION'] || 5432 %>
  username: <%= ENV['POSTGRES_USERNAME_PRODUCTION'] %>
  password: <%= ENV['POSTGRES_PASSWORD_PRODUCTION'] %>
