name: Challenging Rails

on:
  push:
  workflow_dispatch:

jobs:
  ci:
    name: Challenging Rails
    runs-on: ubuntu-24.04
    services:
      postgres:
        image: postgres:18.1
        ports:
          - 5432:5432
        env:
          POSTGRES_USER: postgres_user
          POSTGRES_PASSWORD: postgres_password
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
    env:
      CI: true
      RAILS_ENV: test
      POSTGRES_HOST_TEST: localhost
      POSTGRES_PORT_TEST: 5432
      POSTGRES_USERNAME_TEST: postgres_user
      POSTGRES_PASSWORD_TEST: postgres_password
    steps:
    - name: コードをチェックアウトする
      uses: actions/checkout@v6
    - name: 必要なパッケージをインストールする
      run: |
        sudo apt install fonts-migmix
    - name: Ruby のセットアップを行う
      uses: ruby/setup-ruby@4fc31e1c823882afd7ef55985266a526c589de90 # v1.282.0
      with:
        ruby-version: .ruby-version
        bundler-cache: true
    - name: （予定地）Node.js のセットアップを行う
      run: |
        echo '（予定地）Node.js のセットアップを行う'
    - name: データベースをセットアップする
      run: |
        bin/rails db:prepare
    - name: RSpec を実行する
      run: |
        bundle exec rspec
    - name: tmp/screenshots のアーティファクトをアップロードする
      uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
      with:
        name: screenshots
        path: tmp/screenshots
    - name: tmp/capybara のアーティファクトをアップロードする
      uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
      with:
        name: capybara
        path: tmp/capybara
