name: Challenging Rails

on:
  push:
  workflow_dispatch:

jobs:
  ci:
    name: Challenging Rails
    runs-on: ubuntu-24.04
    services:
      postgres:
        image: postgres:18.0
        ports:
          - 5432:5432
        env:
          POSTGRES_USER: postgres_user
          POSTGRES_PASSWORD: postgres_password
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
    env:
      CI: true
      RAILS_ENV: test
      POSTGRES_HOST_TEST: localhost
      POSTGRES_PORT_TEST: 5432
      POSTGRES_USERNAME_TEST: postgres_user
      POSTGRES_PASSWORD_TEST: postgres_password
    steps:
    - name: コードをチェックアウトする
      uses: actions/checkout@v5
    - name: 必要なパッケージをインストールする
      run: |
        sudo apt install fonts-migmix
    - name: Ruby のセットアップを行う
      uses: ruby/setup-ruby@4ff6f3611a42bc75eee1e5138240eb1613f48c8f # v1.266.0
      with:
        ruby-version: .ruby-version
        bundler-cache: true
    - name: （予定地）Node.js のセットアップを行う
      run: |
        echo '（予定地）Node.js のセットアップを行う'
    - name: データベースをセットアップする
      run: |
        bin/rails db:prepare
    - name: RSpec を実行する
      run: |
        bundle exec rspec
    - name: tmp/screenshots のアーティファクトをアップロードする
      uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
      with:
        name: screenshots
        path: tmp/screenshots
    - name: tmp/capybara のアーティファクトをアップロードする
      uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
      with:
        name: capybara
        path: tmp/capybara
